body {
  padding-top: 80px;
  background-color: #e2e2e2;
  font-family: 'Roboto', 'sans-serif';
}

.text-primary {
  color: blue;
}

.title-name {
  font-weight: 500;
}

.btn .mdi {
  vertical-align: middle;
  font-size: 17px;
  top: -1px;
  position: relative;
}

.btn-just-icon .mdi {
  vertical-align: middle;
  font-size: 25px;
  position: relative;
}

.btn.btn-just-icon i{
  width: 100%;
}

.qr-collapse canvas {
  width: 100%;
}

.align-right {
  text-align: right;
}

.navbar-brand .mdi {
  vertical-align: middle;
  font-size: 25px;
  top: -3px;
  position: relative;
}

.card.title {
  margin-bottom: 20px;
}

.hb-icon {
 border: 2px solid #dedede;
}

.title .content {
  text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.title h1 {
  font-size: 1em;
  text-transform: uppercase;
  color: blue;
}

.card > .footer {
  border-top: 1px solid #dedede;
  padding: 4px;
  margin: 0;
}

.card > .footer .btn-simple {
  padding: 12px;
  margin: 0;
  font-size: 14px;
  font-weight: 700;
}

@media(max-width: 768px){
  .navbar-collapse .navbar-text-wrapper{
    padding-left: 25px;
    padding-right: 25px;
  }

  .navbar-collapse .btn {
    display: inline-block;
  }
}

.navbar-toggle {
  float: left;
  margin-left: 15px;
  margin-right: 0;
}

#loading-bar .bar {
  position: relative;;
  width: 100%;
  background: white;
}

#loading-bar-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
